---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
// import topimage from "../images/IMG_0613.jpg";
// import bottomimage from "../images/IMG_0616.jpg";
const pageTitle = "About Us";
---

<Layout pageTitle={pageTitle}>
  <div class="container">
    <article>
      <p>
        The Club provides golfing activities for members (Men, Women and
        Juniors) regardless of age, skill level or physical ability.
      </p>
      <p>
        The Club plays competition and social golf all year-round and includes a
        number of mixed events in a busy calendar. Apart from several major
        events, regular 18-hole competitions are played on Tuesday (Men &
        Ladies), Friday (Seniors & Ladies), Saturday (Men & Ladies) and Sunday
        (Open).
      </p>
      <p>
        Regular 9-hole (Open) competitions are conducted on Tuesdays and
        Fridays. Social golf activities are generally arranged for Public
        Holidays. During the summer months the Club runs an ‘Open’ mixed 9-hole
        twilight event on Wednesdays. Competition Fees apply for entry into all
        Club competitions.
      </p>
      <p>
        Club teams participate in the V.G.L. (Scratch, Handicap and Seniors) and
        V.W.G.L. Pennant competitions.
      </p>
      <p>
        The Club has a Restricted Club Liquor License with the facilities open
        to Members on a limited basis
      </p>.
      <h2>Committee Office-Bearers 2025</h2>
      <div class="grid">
        <div class="left-col">
          <p>
            President: Gary Lehman<br />
            Vice-President: Helen Oakman<br />
            Captain: John Dupe<br />
            Ladies Captain: Dee Berry<br />
            Treasurer: Kevin Cox
          </p>
        </div>
        <!-- <div class="illustration right-col">
          <Image src={topimage} alt="Committee" />
        </div> -->
      </div>
      <h2>History</h2>
      <div class="grid">
        <div class="left-col">
          <p>
            Professional W. J. “Bill” Britten originally formed the club when
            Austgolf took on the running of the new course in 1984. The Lady
            members separated subsequently and formed a mid-week ladies club,
            also under the Austgolf umbrella.
          </p>
          <p>
            The Men’s club continued until 1999 when a new structure was drawn
            up under a steering committee chaired by Graham Morris, and so the
            Dorset Golf Club Incorporated was formalized.
          </p>
          <p>A committee was nominated and elected in November of that year.</p>
        </div>
        <!-- <div class="illustration right-col">
          <Image src={bottomimage} alt="History" />
        </div> -->
      </div>
    </article>
  </div>
  <style lang="scss">
    h1 {
      text-align: center;
    }
    .grid {
      grid-gap: 16px;
    }
    .illustration {
      padding: 0 3em;
    }
    @media (max-width: 768px) {
      .right-col {
        order: 1;
      }
      .left-col {
        order: 2;
      }
    }
  </style>
</Layout>
