---
import Layout from "../layouts/Layout.astro";
import PhotoGallery from "../components/Gallery.astro";
const pageTitle = "Gallery";
---

<Layout pageTitle={pageTitle}>
  <div class="container">
    <article>
      <p style="text-align: center">Introduction goes here.</p>
      <h5 style="text-align:center">Click photo to open a slideshow</h5>
      <PhotoGallery />
    </article>
  </div>
</Layout>
