---
import FrontPageLayout from "../layouts/FrontPageLayout.astro";
import Phone from "../components/MobilePhone.astro";
import Email from "../components/Email.astro";
import { Image } from "astro:assets";
import fpcard1 from "../images/VGLLogo.png";
import fpcard2 from "../images/Golf-Australia.jpg";
import fpcard3 from "../images/logo_maroondah.png";
const pageTitle = "Dorset Golf Club";
---

<FrontPageLayout pageTitle={pageTitle}>
  <div class="container">
    <div class="main">
      <article>
        <div class="grid grid1">
          <div class="left-col">
            <p>
              Dorset Golf Club plays at Dorset Golf Course in Croyden. It is a
              mixed club.
            </p>
            <p>
              Professional W. J. “Bill” Britten originally formed the club when
              Austgolf took on the running of the new course in 1984. The Lady
              members separated subsequently and formed a mid-week ladies club,
              also under the Austgolf umbrella.
            </p>
            <p>
              The Men’s club continued until 1999 when a new structure was drawn
              up under a steering committee chaired by Graham Morris, and so the
              Dorset Golf Club Incorporated was formalized.
            </p>
            <p>
              A committee was nominated and elected in November of that year.
              The club does not discriminate on the basis of gender, physical
              handicap, race or creed. All members have equal rights.
            </p>
          </div>
        </div>
        <article>
          <h2 style="text-align:center">Links</h2>
          <div class="container grid">
            <article class="fp">
              <a href="https://www.vgl.golf/">
                <Image src={fpcard1} alt="VGL" />
              </a>
              <div class="back-top">
                <h3>Victorian Golf League</h3>
              </div>
              <div class="back-bottom">
                <p>
                  Victorian Golf League website<br /><a
                    href="https://www.vgl.golf/"
                    >link<svg
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
                    </svg>
                  </a>
                </p>
              </div>
            </article>

            <article class="fp">
              <a href="https://www.golf.org.au/handicap/">
                <Image src={fpcard2} alt="Golflink" />
              </a>
              <div class="back-top">
                <h3>Golflink</h3>
              </div>
              <div class="back-bottom">
                <p>
                  Check your handicap<br /><a
                    href="https://www.golf.org.au/handicap/"
                    >Golflink<svg
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
                    </svg></a
                  >
                </p>
              </div>
            </article>
            <article class="fp">
              <div class="card-image">
                <a
                  href="https://www.maroondahleisure.com.au/Our-venues/Dorset-Golf"
                >
                  <Image src={fpcard3} alt="Dorset Golf Course Website" />
                </a>
              </div>
              <div class="back-top">
                <h3>Dorset Golf Course</h3>
              </div>
              <div class="back-bottom">
                <p>
                  Dorset Golf Course website <br /><a
                    href="https://www.maroondahleisure.com.au/Our-venues/Dorset-Golf"
                    >link<svg
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
                    </svg></a
                  >
                </p>
              </div>
            </article>
          </div>

          <style lang="scss">
            .grid {
              grid-template-rows: repeat(3, auto);
              // position: relative;
            }
            // .fp:before {
            //   content: "";
            //   position: absolute;
            //   height: 100%;
            //   width: 100%;
            //   bottom: 0;
            //   left: 0;
            //   background-color: var(--pico-primary);
            //   opacity: 0.75;
            //   clip-path: ellipse(98% 16em at bottom center);
            // }
            .fp {
              // position: relative;
              // background: var(--pico-primary);
              // clip-path: ellipse(90% 20em at bottom center);

              text-align: center;
              display: grid;
              grid-template-rows: subgrid;
              grid-row: span 3;
              row-gap: 0;
              padding: 0;
              & p,
              & h3 {
                color: var(--pico-primary-inverse);
              }
              & a {
                align-self: center;
                color: var(--pico-primary-focus);
              }
              & a:hover {
                color: var(--pico-primary-hover);
              }
            }
            a > svg {
              width: 18px;
              margin-left: 4px;
              margin-top: 1px;
            }
            .back-top {
              background: var(--pico-primary);
              clip-path: ellipse(90% 120px at bottom center);
              row-gap: 0;
            }
            .back-bottom {
              background: var(--pico-primary);
              row-gap: 0;
            }
            .card-image {
              padding: 0 1em;
              align-self: center;
            }
          </style>
        </article>
      </article>
    </div>
  </div>
</FrontPageLayout>
