---
import DownIcon from "./QuillInlineDown.astro";
---

<nav class="main-nav">
  <ul>
    <li>
      <a
        role="button"
        class="close"
        href="https://dorsetgc.1golf.com.au/"
        target="_blank">OneGolf</a
      >
    </li>
    <li>
      <a href="/">HOME</a>
    </li>
    <li>
      <a href="/about/">ABOUT US</a>
    </li>
    <li>
      <a href="#">
        <label for="sm1" title="Open Sub-menu" class="drop-icon"
          >GALLERIES <DownIcon />
        </label>
      </a>
      <input type="checkbox" class="dropdown" id="sm1" />
      <aside>
        <ul class="sub-menu galleries">
          <li><a href="/2025gallery/">2025 Gallery</a></li>
          <li><a href="/2024gallery/">2024 Gallery</a></li>
        </ul>
      </aside>
    </li>
    <li>
      <a href="#">
        <label for="sm2" title="Open Sub-menu" class="drop-icon"
          >MEMBER <DownIcon />
        </label>
      </a>
      <input type="checkbox" class="dropdown" id="sm2" />
      <aside>
        <ul class="sub-menu member">
          <li><a href="/membership/">Membership</a></li>
          <li><a href="/syllabus/">Syllabus</a></li>
          <li><a href="/honour-boards/">Honour Boards</a></li>
        </ul>
      </aside>
    </li>
    <li>
      <a href="/contact/">CONTACT US</a>
    </li>
  </ul>
</nav>
<style lang="scss">
  // li a {
  //   font-size: 0.8em;
  //   padding: 0 0.8em;
  //   font-weight: 400;
  // }
  nav li [role="button"] {
    margin: 0.5em 0;
    padding: 0.1em 0.5em;
    font-size: 1.5em;
    font-weight: 400;
    color: var(--pico-primary-inverse);
    background-color: var(--pico-primary);
    &:hover {
      color: var(--pico-primary);
      background-color: var(--pico-primary-inverse);
    }
  }
</style>
